.loading-box .connecting{
  display: none !Important;
}

.loading-box .logo{
  background-image: url(https://wizzikz.github.io/images/cmix_load.png) !important;
  background-size: 640px 362px !Important;
  height: 362px !Important;
}

.loading-box .content{
  top: -12px !important;
  height: 413px !Important;
}

.loading-box .spinner{
  margin-top: 23px !Important;
}
